.text-center {
	text-align: center;
}

.main-logo {
	display: flex;
	align-items: center;
	flex-shrink: 0;

	p {
		margin: 0;
		max-width: rem(120px);
		margin-left: rem(24px);
		font-size: rem(14px);
	}

	@include _500 {
		align-items: flex-end;

		img {
			width: 41%;
		}

		p {
			font-size: rem(12px);
			margin-left: rem(12px);
		}
	}
}

.main-location {
	flex-shrink: 0;
	p {
		margin: 0;
		max-width: 157px;
		font-size: rem(14px);

	}
}

.main-links {
	display: flex;
	flex-shrink: 0;

	&__icon {
		width: rem(32px);
		height: rem(32px);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background-color: #D6AD58;
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.main-tel {
	flex-shrink: 0;
	a {
		font-family: "Raleway-Bold", sans-serif;
	}
}

.main-btn-link {

	flex-shrink: 0;
	margin-left: 40px;
	button {
		background-color: #1A1C21;
		min-height: 82px;
		padding: 0 rem(53px);
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		position: relative;

		@include _500 {
			padding: 0 1.5rem;
			min-height: 71px;
		}
	}

	span {
		display: block;
		color: transparent;
		position: relative;
		// top: 25px;
		height: 21px;
		line-height: 21px;
		overflow: hidden;

		&::before {
			content: attr(data-text);
			display: block;
			color: $gold;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			transition: all .3s ease;
			transform: translateY(0) translateZ(0);
		}
		&::after {
			content: attr(data-text);
			display: block;
			color: $gold;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			transition: all .3s ease;
			transform: translateY(0) translateZ(0);
		}

		&::after {
			top: 100%;
			opacity: 0;
		}
	}

	&:hover {

		span {
			&::before {
				opacity: 0;
			}
			&::after {
				opacity: 1;
			}

			&::before,
			&::after {
				transform: translateY(-100%) translateZ(0);
			}
		}

	}
}

.main-nav {
	flex-shrink: 0;
	ul {
		display: flex;
		align-items: center;
		justify-content: center;
		li {
			margin-right: rem(24px);
			&:last-child {
				margin-right: 0;
			}

			&:hover {
				a {
					text-shadow: 0 0 1px #fff, 0 0 1px #FFF;
				}
			}
		}
	}
}

.custom-dots {
	.slick-dots {
		position: static;
		bottom: auto;

		li {
			button {
				border: none;
				background: transparent;
				border-radius: 0;
				width: auto;
				height: auto;
				margin: 0;
				font-size: rem(54px);
				text-indent: 0;
				font-family: "Raleway-Bold", sans-serif;
				color: #fff;
				display: none;
				line-height: 1;

				&::before {
					content: "0";
				}
			}

			&.slick-active {
				button {
					display: block;
				}
			}

			&:nth-child(n + 10) button::before {
				content: none;
			}
		}
	}
}

.custom-arrows {
	width: 131px;
	height: 131px;
	display: flex;

	@include _480 {
		height: auto;
		.icon-right-arrow {
			align-self: stretch;
		}

		.icon-left-arrow {
			align-self: stretch;
		}
	}

	.slick-arrow {
		z-index: 50;
		position: static;
		bottom: auto;
		border-radius: 0;
		background: #F3F3F3;
		box-shadow: none;
		width: rem(65px);
		height: rem(65px);
		font-size: 1.5rem;
	}

	.icon-right-arrow {
		background-color: #CBA161;
		color: #fff;
		align-self: flex-start;
	}

	.icon-left-arrow {
		background-color: #F3F3F3;
		color: #4C4330;
		align-self: flex-end;
	}
}

.btn {
	display: inline-block;
	cursor: pointer;
	span {
		display: block;
		background-color: #D9A85F;
		color: #4C4330;
		padding: 32px 35px;
	}

	&:hover {
		box-shadow: 0 5px 4px rgba($color: #000000, $alpha: 0.5);
	}
}

.agreement-check {
	color: #1A1C21;
	max-width: rem(239px);
	.agreement-label {
		a {
			position: relative;
			display: inline-block;
			z-index: 6;
			&::before {
				content: "";
				position: absolute;
				left: 0;
				bottom: -4px;
				height: 2px;
				width: 100%;
				border-bottom: 1px dashed #1A1C21;
			}

			&:hover {
				&::before {
					content: none;
				}
			}
		}
	}

	& input:checked + .agreement-label .check::before {
		position: absolute;
		top: 6px;
		left: 5px;
		width: 8px;
		height: 8px;
		background-color: $gold;
		// border: 0 solid $red;
		transform: none;
	}

	& input + .agreement-label .check::after {
		width: rem(18px);
		height: rem(18px);
		background-color: transparent;
		border: 3px solid $gold;
		border-radius: 0;
	}

	& input:hover + .agreement-label .check::after {
		border: 3px solid $gold;
	}
}

.burger-button {
    position: fixed;
	bottom: 20px;
    right: 20px;
    z-index: 250;
	width: 70px;
    height: 70px;
    padding: 0;
    border-radius: 50%;
    border: 0;
    background: #000;
    color: #000;
    transition: all .3s ease;
    outline: 0;
    cursor: pointer;
	display: none;

	@include _1200 {
		display: block;
	}

	@include _480 {
		bottom: 10px;
    	right: 10px;
	}

	&::after, &::before {
		content: '';
		display: block;
		width: 18px;
		height: 2px;
		box-sizing: border-box;
		background: #fff;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateY(-3px) translateX(-9px);
		transition: all .2s ease;
		margin-top: -1px;
	}

	&::after {
		transform: translateY(3px) translateX(-9px);
	}

	&.active {
		&::before {
			transform: translateY(0) translateX(-9px) rotate(45deg);
		}
		&::after {
			transform: translateY(0) translateX(-9px) rotate(-45deg);
		}
	}

}


.menu__mobile {
	position: fixed;
	top: -100vh;
	right: 0;
	width: 0;
	height: 100%;
    background-color: #1A1C21;
	z-index: 200;

	&_inner {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;

		@include _740 {
			padding-bottom: 4rem;
		}

		@include _360 {
			padding-left: 1rem;
			padding-right: 1rem;
		}

	}

	.main-nav {
		margin-top: 5rem;
		ul {
			flex-direction: column;
			li {
				margin: 0;
				margin-bottom: 1rem;

				&:last-child {
					margin-bottom: 0;
				}
				a {
					color: #fff;
					font-size: 2rem;
					text-transform: uppercase;
					font-family: "Raleway-Bold", sans-serif;
				}
			}
		}

		@include _992 {
			margin-top: 3rem;
		}
	}

	.main-location {
		margin-bottom: 1rem;
		p {
			font-size: 1.5rem;
			max-width: 100%;

			@include _500 {
				font-size: 1.2rem;
			}

			@include _480 {
				font-size: 1rem;
			}
		}
	}

	.main-links {

		margin-top: auto;
		margin-bottom: 1rem;
		a {
			width: 3rem;
			height: 3rem;
			font-size: 1.5rem;
		}
	}

	.main-tel {
		a {
			font-size: 1.5rem;
		}
	}
}

.show_more {
	position: relative;
	display: inline-block;
	font-size: rem(14px);
	color: #EBC66C;
	background-color: transparent;
	border: none;
	cursor: pointer;

	&.active {
		.show_text {
			display: none;
		}

		.close_text {
			display: inline;
		}
	}

	.show_text {
		display: inline;
	}

	.close_text {
		display: none;
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: -4px;
		width: 100%;
		height: 2px;
		border-bottom: 1px dashed #EBC66C;

	}

	&:hover {
		&::before {
			content: none;
		}
	}
}
