@import "mixins";
@import "vars";
@import "fonts";

html {
    line-height: 32px;
}

body {
    font-family: 'Raleway-Regular', sans-serif;
    background-color: #1A1C21;
    min-width: 360px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: $white;

    @include _2100 {
        zoom: 1.2;
    }
}

.section {
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway-ExtraBold", sans-serif;
	& span {
		font-family: "Raleway-ExtraLight", sans-serif;
	}
}

h1, h2 {
	line-height: 1.2;
	font-size: rem(54px);
}

b, strong {
    font-weight: bold !important;
}

button {
	background-color: transparent;
	border: none;
	padding: 0;
	color: $gold;
}

