@import "settings";
@import "include";


main {
	position: relative;
}

.header-custom {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 200;
	transition: opacity .3s;

	@include _1440 {
		.header-container {
			padding-left: rem(50px);
		}
	}

	@include _1366 {
		&__location {
			display: none;
		}
	}

	@include _1200 {
		&__nav {
			display: none;
		}

		&__links {
			display: none;
		}
	}

	@include _769 {
		.header-container {
			padding-left: 2rem;
		}
	}

	@include _740 {
		&__tel {
			display: none;
		}
	}

	@include _480 {
		padding: rem(14px) 0;
		.main-btn-link {
			display: none;
		}
	}

	&.header--fixed {
		position: fixed;
		background-color: #fff;

		.main-logo {
			p {
				color: #333;
				font-size: rem(13px);
			}
			img {
				width: 35%;
			}
		}
		.main-nav {
			a {
				color: #333;
				font-size: rem(13px);
			}

			li {
				&:hover {
					a {
						text-shadow: 0 0 1px #333, 0 0 1px #333;
					}
				}
			}
		}

		.main-location {
			p {
				color: #333;
				font-size: rem(13px);
			}
		}

		.main-tel {
			a {
				color: #333;
				font-size: rem(13px);
			}
		}

		&::before {
			content: none;
		}

		.main-btn-link {
			button {
				min-height: 55px;
				font-size: rem(13px);
			}
		}

		.main-links {
			&__icon {
				width: 1.8rem;
				height: 1.8rem;
				font-size: rem(13px);
			}
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(#333, transparent);
		z-index: -1;

	}

	.header-container {
		padding-left: rem(100px);
		display: flex;
		align-items: center;
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		// padding: rem(14px) 0;
		height: 100%;
		width: 100%;
	}
}

.hero-custom {
	position: relative;
	z-index: 150;
	min-height: 100vh;
	height: 100%;
	// overflow: hidden;

	@include _2100 {
		min-height: 84vh;
	}

	@include _1440 {
		&__info {
			h1 {
				font-size: 3rem;
			}

			.hero-text__inner {
				max-width: 35rem;
			}
		}

		.hero__shows--item_info {
			h3 {
				font-size: 3rem;
			}
		}
	}

	@include _1366 {
		&__shows {
			&.hero__shows {
				li .hero__shows-visible-text {
					font-size: 1rem;
					bottom: 68px;
					left: rem(50px);
				}
			}
		}

		&__info {
			bottom: 8rem;

			h1 {
				font-size: 2.5rem;
			}

			.hero-text__inner {
				margin-left: rem(50px);
			}
		}

		.hero__shows--item_info {
			bottom: 8rem;
		}

	}

	@include _1280 {
		&__info {

			h1 {
				font-size: 2.5rem;
			}

			.hero-text__inner {
				margin-left: rem(50px);
				max-width: 29rem;
			}

			.hero-text__inner {
				p {
					font-size: 1.1rem;
				}
			}
		}

		.hero__shows--item_info {
			left: 3rem;
			h3 {
				font-size: 2.5rem;
			}

			p {
				font-size: 1.1rem;
			}
		}
	}

	@include _1200 {
		&--close-shows {
			bottom: 2rem;
		}

		.hero__shows--item_info {
			left: 3rem;
		}
	}

	@include _992 {

		height: 600px;
		&__shows {

			&.hero__shows {

				&[data-showed-item="1"] {
					& li:nth-child(2),li:nth-child(3) {
						width: 100px;
					}
				}
				&[data-showed-item="2"] {
					& li:nth-child(1),li:nth-child(3) {
						width: 100px;
					}
				}
				&[data-showed-item="3"] {
					& li:nth-child(1),li:nth-child(2) {
						width: 100px;
					}
				}

				li {

					.hero__shows-hidden-text {
						left: 3rem;
						bottom: 12rem;
					}
				}
			}

		}
	}

	@include _769 {
		&__info {
			bottom: 12rem;
		}

		&__shows {
			&.hero__shows {
				li {

					&:nth-child(2) {
						.hero__shows-visible-text {
							left: 2rem;
						}
					}

					.hero__shows-visible-text {
						bottom: 93px;
					}

					&:hover {
						.hero__shows-visible-text {
							transform: translateY(0) !important;
						}
					}
				}
			}
		}
	}

	@include _740 {
		&__shows {
			&.hero__shows {

				&[data-showed-item="1"] {
					& li:nth-child(2),li:nth-child(3) {
						width: 0;
					}

					& li:nth-child(1) {
						.hero__shows-hidden-text {
							opacity: 0;
							visibility: hidden;
						}
					}
				}
				&[data-showed-item="2"] {
					& li:nth-child(1),li:nth-child(3) {
						width: 0;
					}

					& li:nth-child(2) {
						.hero__shows-hidden-text {
							opacity: 0;
							visibility: hidden;
						}
					}
				}
				&[data-showed-item="3"] {
					& li:nth-child(1),li:nth-child(2) {
						width: 0;
					}

					& li:nth-child(3) {
						.hero__shows-hidden-text {
							opacity: 0;
							visibility: hidden;
						}
					}
				}

				li {
					.hero__shows-visible-text {
						left: 2rem;
					}
				}
			}

			&.hero__shows {
				li {
					.hero__shows-visible-text {
						display: none;
					}

					.hero__shows-hidden-text {
						left: 50% !important;
						bottom: 14rem;
						opacity: 1;
						visibility: visible;
						transform-origin: left;
						transform: translateY(150px) rotate(-90deg);
						font-size: rem(18px);
					}
				}
			}
		}

		&__info {
			top: 8rem;
			bottom: auto;

			.hero-text__inner {
				margin-left: 2rem;
			}
		}
	}

	@include _500 {
		&__info  {
			h1 {
				font-size: 2rem;
			}
			.hero-text__inner {
				max-width: 20rem;

				p {
					font-size: 1rem;
				}
			}
		}

		.hero__shows--item_info {
			left: 2rem;
			h3 {
				font-size: 2rem;
				margin-bottom: 1rem;
				max-width: 15rem;
			}

			p {
				font-size: 1rem;
				max-width: 13rem;
			}
		}

		&__shows.hero__shows li .hero__shows-hidden-text {
			bottom: 16rem;
		}
	}

	@include _480 {

	}

	.scroll-icon {
		position: absolute;
		right: 2rem;
		bottom: 30rem;
		z-index: 500;
		width: 33px;
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 17px;
		border: 1px solid $gold;

		@include _992 {
			display: none;
		}


		.icon-mouse {
			font-size: 1.5rem;
			color: #fff;
		}

		// &::before {
		// 	content: "";
		// 	position: absolute;
		// 	left: 50%;
		// 	transform: translateX(-50%);
		// 	top: 70px;
		// 	height: 51vh;
		// 	width: 1px;
		// 	background-color: $gold;
		// }

		// &::after {
		// 	content: "";
		// 	position: absolute;
		// 	left: 50%;
		// 	transform: translateX(-50%);
		// 	bottom: 70px;
		// 	height: 100000%;
		// 	width: 1px;
		// 	background-color: $gold;
		// }

	}







	&__info {
		position: absolute;
		left: 0;
		bottom: rem(220px);
		z-index: 3;

		.hero-text__inner {
			max-width: rem(620px);
			margin-left: rem(100px);
			pointer-events: none;

			p {
				font-size: rem(20px);
				max-width: rem(370px);
			}
		}

		h1 {
			font-size: rem(54px);
			line-height: 1.2;
			margin: 0;
			margin-bottom: rem(24px);
		}


	}

	&--close-shows {
		position: absolute;
		left: 50%;
		bottom: 4rem;
		z-index: 150;
		width: 3.5rem;
		height: 3.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.4rem;
		transform: translateX(-50%);
		border-radius: 50%;
		background-color: #fff;
		color: #333;
		cursor: pointer;
		transition: transform .2s, color .2s, background-color .2s;
		transform: translateY(150px);
		opacity: 0;

		.icon-close {
			transition: transform .2s, color .2s, background-color .2s;
		}

		&:hover {
			.icon-close {
				transform: rotate(90deg);
				display: block;
			}
		}
	}

	.hero__shows--item_info {
		position: absolute;
		bottom: 10rem;
		left: 6rem;
		opacity: 0;
		z-index: 4;

		h3 {
			font-family: "Raleway-Bold", sans-serif;
			font-size: rem(54px);
			margin: 0;
			margin-bottom: 1.5rem;
			max-width: rem(496px);
		}

		p {
			margin: 0;
			font-size: rem(24px);
			line-height: 1.3;
			max-width: rem(450px);
		}
	}


	&__shows {
		display: flex;
		padding: 0;
		margin: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 20%;
			background: linear-gradient(-180deg, transparent, #000);
			z-index: 1;
		}



		&.hero__shows {

			&[data-showed-item="1"] {
				& li:nth-child(2),li:nth-child(3) {
					width: 170px;

					.hero__shows-visible-text {
						opacity: 0;
						visibility: hidden;
					}

					.hero__shows-hidden-text {
						opacity: 1;
						visibility: visible;
					}

					.hero__shows--item_info {
						opacity: 0 !important;
					}
				}

				& li[data-id="1"] {
					width: 100%;
					pointer-events: none;
					cursor: default;

					&::before {
						background: rgba($color: #1A1C21, $alpha: 0.3);
					}
				}
			}
			&[data-showed-item="2"] {
				& li:nth-child(1),li:nth-child(3) {
					width: 170px;

					.hero__shows-visible-text {
						opacity: 0;
						visibility: hidden;
					}

					.hero__shows-hidden-text {
						opacity: 1;
						visibility: visible;
					}

					.hero__shows--item_info {
						opacity: 0 !important;
					}
				}

				& li[data-id="2"] {
					width: 100%;
					pointer-events: none;
					cursor: default;

					&::before {
						background: rgba($color: #1A1C21, $alpha: 0.3);
					}
				}
			}
			&[data-showed-item="3"] {
				& li:nth-child(1),li:nth-child(2) {
					width: 170px;

					.hero__shows-visible-text {
						opacity: 0;
						visibility: hidden;
					}

					.hero__shows-hidden-text {
						opacity: 1;
						visibility: visible;
					}

					.hero__shows--item_info {
						opacity: 0 !important;
					}

				}

				& li[data-id="3"] {
					width: 100%;
					pointer-events: none;
					cursor: default;

					&::before {
						background: rgba($color: #1A1C21, $alpha: 0.3);
					}
				}
			}


			li {
				display: block;
				width: 33.3%;
				height: 100%;
				position: relative;
				background-size: cover;
				background-position: center;
				cursor: pointer;
				transition: width .7s cubic-bezier(.66,0,.33,1);
				overflow: hidden;
				will-change: width;

				&::before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: rgba($color: #1A1C21, $alpha: 0.5);
					z-index: 1;
					opacity: 1;
					transition: opacity .5s ease;
				}

				&:hover {
					&::before {
						background: rgba($color: #1A1C21, $alpha: 0.3);
					}

					.hero__shows-visible-text {
						transform: translateY(-15px) !important;
					}

					.hero__shows-hidden-text {
						transform: translateY(120px) rotate(-90deg);
					}

				}

				.hero__shows_item_bg {
					width: 100vw;
					height: 100%;
					position: absolute;
					top: 0;
					left: 50%;
					background-size: cover;
					background-position: top;
					transform: translateX(-50%);
				}

				.hero__shows-visible-text {
					display: block;
					font-family: "Raleway-ExtraBold", sans-serif;
					font-size: rem(24px);
					text-transform: uppercase;
					color: #fff;
					position: absolute;
					left: rem(100px);
					bottom: 112px;
					z-index: 2;

					transition: transform .3s;
				}

				.hero__shows-hidden-text {
					display: block;
					font-family: "Raleway-ExtraBold", sans-serif;
					font-size: rem(24px);
					text-transform: uppercase;
					color: #fff;
					position: absolute;
					left: 4rem;
					bottom: 16rem;
					z-index: 2;
					font-style: normal;
					opacity: 0;
					visibility: hidden;
					transition: opacity .3s;
					transform: translateY(150px) rotate(-90deg);
					transform-origin: left;

					transition: opacity .3s, transform .3s;
				}

				// &:nth-child(3) {
				// 	.hero__shows-hidden-text {
				// 		left: 0;
				// 	}
				// }
			}


		}
	}
}


.about_us {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	padding: rem(176px) 0 rem(48px) 0;
	overflow: hidden;
	min-height: 100vh;
	z-index: 150;
	width: 100%;

	transform: translateY(100%);

	@include _2100 {
		min-height: 84vh;
	}

	@include _1536 {
		padding: 6rem 0 3rem 0;

		&__img {
			right: 0;
			bottom: -5rem;
			z-index: 25;
			width: 56%;

			&::before {
				width: 13.75rem;
    			height: 93%;
			}
		}
	}

	@include _1440 {
		padding: 8rem 0 3rem 0;
		.container-fluid {
			margin-left: 0;
		}

		h2 {
			margin-bottom: 3.5rem;
		}
	}

	@include _1366 {
		padding: 6rem 0 5rem 0;

		h2 {
			font-size: 2.5rem;
		}

		&-normal_text {
			padding-left: 7rem;
		}

		&__img {
			&::before {
				top: 1rem;
			}
		}
	}

	@include _1280 {
		&__img {
			width: 50%;
			bottom: -1rem;
		}
	}

	@include _1200 {
		padding: 6rem 0 3rem 0;
		&__row {
			flex-direction: column;
		}

		&__col {
			width: 100%;

			&:nth-child(1) {
				width: 100%;
				max-width: 100%;
				margin-bottom: 1.5rem;
			}
		}

		&-normal_text {
			max-width: 100%;

			p {
				br {
					display: none;
				}
			}
		}

		&__img {
			// position: static;
			position: relative;
			right: auto;
			bottom: auto;
			width: 100%;
		}

		&-rotate_text {
			left: -5rem;
			bottom: 5.7rem;
			max-width: 16rem;

			p {
				font-size: 1.2rem;
			}
		}
	}

	@include _992 {
		&-rotate_text {
			left: -4.9rem;
			bottom: 5.3rem;
			max-width: 15rem;
		}

		h2 {
			margin-bottom: 2rem;
		}
	}

	@include _740 {
		&__img {
			width: 86%;
			margin: 0 auto;
		}
	}

	@include _500 {
		height: auto;
		h2 {
			font-size: 2rem;
		}
		&-rotate_text {
			position: static;
			transform: none;
			left: auto;
			bottom: auto;
			max-width: 100%;
			height: auto;
			margin-bottom: 1rem;
		}

		&-normal_text {
			padding-left: 0;

			p {
				&:nth-child(1) {
					margin-bottom: rem(20px);
				}
			}
		}
	}

	.container-fluid {
		margin-left: 52px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__col {

		h2 {
			font-size: rem(54px);
			line-height: 1.3;
			color: $black;
			margin: 0;
			margin-bottom: rem(80px);
		}

		&:nth-child(1) {
			max-width: rem(536px);
		}

	}
	&__img {
		position: absolute;
		width: 100%;
		right: -40rem;
		bottom: -9rem;
		z-index: 25;

		&::before {
			content: "";
			position: absolute;
			top: 2rem;
			left: 1.5rem;
			width: 15.75rem;
			height: 97%;
			border: 5px solid #D9A85F;
			z-index: -1;
		}

	}

	&__text {
		color: #1A1C21;
		position: relative;
	}

	&-rotate_text {
		transform: rotate(-90deg);
		max-width: rem(330px);
		flex-shrink: 0;
		height: 89px;
		position: absolute;
		left: -8rem;
		bottom: 8rem;

		p {
			margin: 0;
			font-size: rem(24px);
			font-family: "Raleway-ExtraLight", sans-serif;
			line-height: 1.2;
			strong {
				display: block;
				font-family: "Raleway-Bold", sans-serif;
			}
		}
	}

	&-normal_text {
		padding-left: rem(119px);
		max-width: rem(503px);

		p {
			margin: 0;
			line-height: 1.8;
			&:nth-child(1) {
				margin-bottom: 40px;
			}
		}

		strong {
			display: block;
		}
	}
}

.history {
	background-color: #F3F3F3;
	padding: 112px 0 164px 0;
	position: relative;

	@include _1536 {
		&__img {
			left: -1.3rem;
		}
	}

	@include _1440 {
		&__img {
			left: -3.3rem;
		}
	}

	@include _1366 {
		padding-bottom: 7rem;

		&__img {
			left: -3.4rem;
			bottom: 2.7rem;
		}

		&__title {
			margin-bottom: 4rem;
			h2 {
				font-size: 2.5rem;
				max-width: 36.1rem;
			}

			p {
				font-size: 1.2rem;
			}
		}

		&__item {
			h4 {
				font-size: 2rem;
				margin-bottom: 0.5rem;
			}
		}
	}

	@include _1280 {
		padding-top: 11rem;

		&__item {
			h4 {
				margin-bottom: 0.5rem;
			}
		}
		&__img {
			left: -1.4rem;
			bottom: 3.5rem;
			width: 27%;
		}

		&__title {
			margin-bottom: 3rem;
		}
	}

	@include _1200 {
		padding-top: 30rem;
		padding-bottom: 5rem;

		&__col {
			width: 50%;
		}

		&__item {
			min-height: 12rem;
			padding: 26px 26px;
		}

		&__img {
			left: -7.6rem;
			bottom: 2.2rem;
		}
	}

	@include _992 {
		padding-top: 37rem;

		&__title {

			h2 {
				font-size: 2rem;
				max-width: 29.1rem;
			}

			p {
				font-size: 1rem;
			}
		}


		&__img {
			left: -7.4rem;
			bottom: 2.4rem;
		}
	}

	@include _769 {
		padding-top: 5rem;

		&__img {
			left: -5.8rem;
			bottom: 2.9rem;
		}

		&__item {
			h4 {
				font-size: 1.7rem;
			}
		}

		&__title {
			margin-bottom: 3rem;
		}
	}

	@include _740 {
		padding-top: 4rem;

		&__item {
			padding: 26px 16px;

			p {
				font-size: 0.9rem;
			}
		}

		&__img {
			left: -3.8rem;
			bottom: 3rem;
			width: 32%;
		}
	}

	@include _500 {
		padding-top: 7rem;
		&__title {
			max-width: 26.1rem;
		}

		&__img {
			bottom: 3.4rem;
		}
	}

	@include _480 {

		padding-top: 13rem;

		&__col {
			width: 100%;
		}

		&__title {
			h2 {
				font-size: 1.9rem;
			}
		}

		&__img {
			display: none;
		}
	}

	@include _375 {
		padding-top: 18rem;
	}

	@include _360 {
		padding-top: 22rem;
	}


	&__title {
		color: #333;
		margin-bottom: rem(80px);

		h2 {
			max-width: rem(780px);
			margin: 0;
			margin-bottom: 24px;
		}

		p {
			max-width: 504px;
			font-size: rem(24px);
			line-height: 1.6;
			margin: 0;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: -1rem;
	}

	&__col {
		padding: 1rem;
		width: 25%;

		&:nth-child(2n) {
			.history__item {
				background-color: transparent;
				border: 5px solid #D9A85F;
			}
		}
	}

	&__item {
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 40px 26px;
		color: #333333;
		min-height: rem(242px);

		h4 {
			font-size: rem(48px);
			margin: 0;
		}

		&-title	{
			text-align: center;
			p {
				text-transform: uppercase;
			}
		}

		p {
			text-align: center;
			margin: 0;
			margin-top: auto;
		}

		&-paragraph {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			height: 100%;
		}
	}

	&__img {
		position: absolute;
		bottom: 5.9rem;
		left: 0;
		z-index: 2;
	}
}

.services {
	position: relative;
	z-index: 15;
	padding-top: rem(112px);
	overflow: hidden;

	@include _1366 {

		padding-top: 5rem;


		&__title {
			max-width: 34rem;
			margin-bottom: 4rem;
			h2 {
				font-size: 2.5rem;
			}
		}

		&__item {
			min-height: 21rem;

			&:hover {
				&::after {
					height: 87%;
				}
			}
		}
	}

	@include _1280 {
		padding-top: 4rem;
	}

	@include _1200 {
		padding-top: 3.7rem;

		&__title {
			margin-bottom: 3rem;
		}

		&__item {
			padding-left: 1rem;

			h3 {
				transform: none;
			}

			p {
				visibility: visible;
				opacity: 1;
				margin-bottom: 0.9rem;
			}

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 60%;
				background: linear-gradient(transparent, black);
			}

			& .icon-wrap {
				opacity: 1;
				visibility: visible;
				right: 3rem;
				bottom: 2rem;

				&::before {
					width: 42px;
					height: 42px;
				}
			}
		}
	}

	@include _992 {
		&__item {
			padding-left: 2rem;
			min-height: 20rem;

			.icon-wrap {
				right: 2.2rem;
				bottom: 1.9rem;
			}
		}

		&__title {
			h2 {
				font-size: 2rem;
			}
		}
	}

	@include _740 {
		&__col {
			width: 100%;
		}
	}

	@include _375 {
		&__item {
			padding-left: 1rem;
		}
	}



	&__title {
		max-width: rem(697px);
		margin-bottom: rem(80px);
		h2 {
			margin: 0;
			margin-bottom: rem(24px);
		}

		p {
			margin: 0;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: rem(-12px) -1rem;
	}

	&__col {
		padding: rem(12px) 1rem;
		width: 50%;
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		min-height: rem(456px);
		padding-left: rem(48px);
		padding-bottom: rem(32px);
		overflow: hidden;

		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;



		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($color: #000000, $alpha: 0.3);
		}

		.icon-wrap {
			z-index: 3;
			width: 80px;
			height: 12px;
			position: absolute;
			right: rem(73px);
			bottom: rem(46px);
			opacity: 0;
			visibility: hidden;
			transition: opacity .4s;

			&::before {
				content: "";
				width: 0;
				height: 0;
				background-color: #D9A85F;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: -1.1rem;
				border-radius: 50%;
				z-index: -1;

				transition: width .3s, height .3s, ;
			}
		}

		h3 {
			font-family: "Raleway-Bold", sans-serif;
			margin: 0;
			margin-bottom: rem(24px);
			position: relative;
			z-index: 25;
			transform: translateY(294%);
			transition: transform .3s;
		}

		p {
			font-size: rem(18px);
			max-width: rem(432px);
			position: relative;
			z-index: 25;
			margin: 0;
			visibility: hidden;
			opacity: 0;
			transition: opacity .4s;
		}


		&:hover {
			p {
				visibility: visible;
				opacity: 1;
			}

			h3 {
				transform: translateY(0);
			}

			.icon-wrap {
				opacity: 1;
				visibility: visible;

				&::before {
					width: 42px;
					height: 42px;
				}
			}

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 60%;
				background: linear-gradient(transparent, rgba($color: #000000, $alpha: 1));
			}

		}
	}

}


.awards {
	position: relative;
	padding: rem(133px) 0 rem(107px);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: rem(-68px);

	@include _1536 {
		margin-top: -3rem;
	}
	@include _1366 {
		&__container {
			max-width: 50rem;
			h2 {
				font-size: 2.5rem;
				margin-bottom: 3rem;
			}
		}
	}

	@include _1280 {
		&__container {
			max-width: 47rem;

			h2 {
				margin-bottom: 2rem;
			}

			p {
				margin-bottom: 1.5rem;
			}

			&-border {
				width: 15%;
			}
		}
	}

	@include _992 {
		margin-top: -2rem;
		padding-top: 6rem;
		padding-bottom: 5rem;

		&__container {
			h2 {
				font-size: 2rem;
			}
		}
	}

	@include _769 {
		padding: 7rem 0 6rem;
		&__container {
		    max-width: 33rem;

		}
	}

	@include _500 {
		padding: 5rem 0 4rem;

		&__container {
			max-width: 100%;
			padding: 2rem 1rem;

			&-border {
				display: none;
			}
		}
		&__icons {
			flex-wrap: wrap;
			justify-content: center;
			img {
				padding: 0.5rem;
			}
		}
	}





	&__container {
		position: relative;
		z-index: 2;
		display: block;
		margin: 0 auto;
		padding-top: rem(47px);
		padding-bottom: rem(41px);
		max-width: rem(900px);
		text-align: center;

		h2 {
			max-width: rem(790px);
			margin: 0 auto;
			margin-bottom: rem(80px);

		}

		p {
			max-width: rem(378px);
			margin: 0 auto;
			margin-bottom: rem(40px);
		}


		&-border {
			position: absolute;
			z-index: 4;

			&.top {
				top: 0;
				left: 0;
			}

			&.bottom {
				right: 0;
				bottom: 0;
			}
		}
	}

	&__icons {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		max-width: rem(388px);
		margin: 0 auto;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color: #000000, $alpha: 0.6);
	}


}

.our-cases {
	padding: rem(112px) 0 rem(112px) 0;

	overflow: hidden;

	@include _1536 {
		&__arrows {
			left: auto;
			right: 10%;
		}

		&__dots {
			bottom: 0.2rem;
		}
	}

	@include _1440 {
		&__container {
			margin-left: 3rem;
		}

		&__arrows {
			right: 11%;
		}

		.cases_item__info {
			h2 {
				margin-bottom: 2rem;
			}
		}
	}

	@include _1366 {

		&__container {
			margin-bottom: 5rem;
		}

		.cases_item__info {
			h2 {
				font-size: 2.5rem;
			}
		}

		&__arrows {
			bottom: 0.6rem;
			right: 10%;
		}

	}

	@include _1280 {
		padding-top: 5rem;
	}

	@include _1200 {
		padding: 3rem 0 7rem 0;
		&__arrows {
			position: static;
			right: auto;
			bottom: auto;
			margin-left: auto;
			margin-right: 2rem;
			margin-bottom: 3rem;
		}

		&__dots {
			left: auto;
			bottom: auto;
			top: 4.2rem;
			right: 12.3rem;
		}
	}

	@include _992 {
		&__container {
			margin-left: 2.5rem;
		}
		.cases_item {
			&__img {
				width: 50%;
			}

			&__info {
				h2 {
					font-size: 2rem;
				}
			}
		}
	}

	@include _769 {
		.cases_item {
			&__inner {
				flex-direction: column;
			}

			&__img {
				width: 100%;
				margin-right: 0;

				order: 2;
			}

			&__info {
				width: 100%;
				order: 1;
				margin-bottom: 1.5rem;
			}

			p {
				max-width: 100%;
			}


		}

		&__container {
			margin-left: 0;
			padding: 0 2.5rem;
		}

		&__slider {
			.slick-list {
				padding-right: 0;
			}

			.slick-slide:not(.slick-current.slick-active) {
				.cases_item__img {

					&::before {
						content: none;
					}
				}
			}
		}

		&__dots {
			right: 14.3rem;
		}

		&__arrows {
			margin-right: 0;
		}
	}

	@include _740 {
		&__container {
			padding: 0 2rem;
		}

		&__dots {
			right: 12.3rem;
		}

		.cases_item {
			&__info {
				h2 {
					max-width: 25rem;
				}
			}
		}

	}

	@include _500 {
		&__container {
			padding: 0 1rem;
		}

		&__gallery {

			.slick-slide {
				margin: 0 0.5rem;

				// &:nth-child(2n) {
				// 	transform: none;
				// }
			}
		}
	}

	@include _480 {
		&__dots {
			top: 0.2rem;
		}
	}


	&__container {
		position: relative;
		margin-bottom: rem(110px);
		margin-left: rem(100px);
		background-image: url(../images/kushavel__bg.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
	}

	&__dots {
		position: absolute;
		left: 41%;
		bottom: 3rem;
		z-index: 50;
	}

	&__arrows {
		position: absolute;
		z-index: 50;
		left: 58%;
		bottom: 3rem;
	}

	&__slider {
		.slick-list {
			padding-right: 4%;
		}

		.slick-slide:not(.slick-current.slick-active) {
			.cases_item__img {

				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba($color: #000000, $alpha: 0.5);
				}
			}
		}
	}

	.cases_item {
		&__inner {
			display: flex;
		}

		&__img {
			position: relative;
			margin-right: rem(31px);
			flex-shrink: 0;
			width: 41%;
		}

		&__info {
			width: 38%;


			h2 {
				max-width: rem(724px);
				margin-bottom: rem(48px);

			}

			&.active {
				.cases_item__info_text {

					p {
						// position: absolute;
						// top: 0;
						// left: 0;
						// width: 100%;
						display: block;
					}
				}
			}
		}

		&__info_text {
			position: relative;
			margin-top: 1rem;
		}

		&__info_location {
			display: flex;


			p {
				color: #A3A4A6;
				margin: 0;
				margin-right: rem(32px);

				&:last-child {
					margin-right: 0;
				}
			}
		}

		p {
			max-width: rem(472px);
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}

	&__gallery {

		.slick-list {
			margin: -5rem 0;
			padding: 5rem 0;
		}

		.slick-slide {
			margin: 0 2rem;

			&:nth-child(2n) {
				transform: translateY(50px);
			}
		}
	}

}

.our_team {
	padding-top: rem(112px);
	padding-bottom: rem(187px);

	@include _1366 {
		padding-top: 4rem;

		&__container {

			.slick-active.last {
				transform: none;
				height: auto;
			}
		}

		&__arrows {
			top: -131px;
		}

		&__title {
			h2 {
				font-size: 2.5rem;
			}

			p {
				margin: 0 auto;
				font-size: 1.125rem;
				max-width: 25rem;
			}
		}
	}

	@include _1280 {
		padding-bottom: 9rem;
	}

	@include _1200 {
		padding-top: 2rem;
		padding-bottom: 6rem;
	}

	@include _992 {
		&__arrows {
		    right: 3.3rem;

		}

	}

	@include _769 {
		&__item {
			&-name {
				p {
					&:nth-child(1) {
						font-size: 1.125rem;
					}
				}
			}
		}
	}

	@include _740 {
		&__arrows {
			height: auto;
			right: 2.9rem;
			top: -84px;
		}

		&__title {
			margin-bottom: 7rem;
		}
	}

	@include _480 {
		padding-top: 1rem;
		padding-bottom: 5rem;
		&__title {
			h2 {
				font-size: 2rem;
			}

			p {
				font-size: 1rem;
			}
			padding: 0 1rem;
		}

		&__arrows {
			right: 1.4rem;
		}
	}


	&__title {
		margin: 0 auto;
		margin-bottom: rem(80px);
		max-width: rem(572px);

		h2 {
			margin: 0;
			margin-bottom: rem(24px);
			text-align: center;
		}

		p {
			margin: 0;
			text-align: center;
			max-width: rem(530px);
			font-size: rem(24px);
			font-family: "Raleway-ExtraLight", sans-serif;
			line-height: 1.3;
		}
	}

	&__arrows {
		position: absolute;
		right: 3.8rem;
		top: 0;
	}

	&__container {
		.slick-slide {
			margin: 0 rem(15px);
		}

		.slick-active.last {
			transform: translateY(57.2%);
			height: 298px;
			overflow: hidden;
			transition: transform .3s, height .3s;
		}
	}

	&__item {
		&-name {
			margin-top: 2rem;
			p {
				margin: 0;
				font-family: "Raleway-Bold", sans-serif;
				font-size: rem(14px);
				&:nth-child(1) {
					font-family: "Raleway-ExtraLight", sans-serif;
					font-size: rem(22px);
					margin-bottom: rem(10px);
				}
			}
		}
	}
}

.footer_form {
	position: relative;
	padding-bottom: rem(168px);
	overflow: hidden;
	margin-top: -13rem;
	padding-top: 13rem;

	@include _1536 {
		&__image {
			right: -10rem;
		}
	}

	@include _1366 {
		padding-bottom: 9rem;
		&__image {
			width: 60%;
		}

		&__title {
			h2 {
				font-size: 2.5rem;
			}
		}
	}

	@include _1200 {

		&__container {
			padding: 3rem 3rem 2rem 3rem;
			max-width: 39rem;

			.button__wrap {
				flex-direction: column;
				align-items: stretch;

				.btn {
					max-width: 100%;
					margin-bottom: 1.5rem;

						span {
							width: 100%;
						}
				}
			}

			.agreement-check {
				margin-left: 0;
			}

			.input__row {
				margin: -15px;
			}

			.input__col {
				padding: 15px;
			}

		}
	}

	@include _992 {

		&__title {
			margin-bottom: 3rem;
			h2 {
				font-size: 2rem;
			}
		}
		&__image {
			right: -7rem;
		}
		&__container {
			max-width: 31rem;
			.input__row {
				flex-direction: column;
			}

			.input__col {
				width: 100%;
			}

			.input_container {
				max-width: 100%;
			}

			.button__wrap {
				flex-direction: column;
				align-items: stretch;

				.btn {
					margin-bottom: 1.5rem;
				}
			}

			.agreement-check {
				margin-left: 0;
			}
		}
	}

	@include _769 {
		&__title {
			max-width: 28rem;
			margin-bottom: 12rem;
		}

		&__container {
			max-width: 100%;
		}

		&__image {
			right: 1rem;
			bottom: auto;
			top: 14rem;
			width: 49%;
		}
	}

	@include _740 {

		&__title {
			margin-bottom: 9rem;
		}

		&__image {
			top: 17rem;
		}
	}

	@include _480 {
		&__image {
			right: auto;
			left: 50%;
			transform: translateX(-50%);
			top: 21rem;
			width: 82%;
		}

		&__title {
			margin-bottom: 20rem;
		}
	}


	@include _375 {
		&__image {
			width: 85%;
		}

		&__container {
			padding: 3rem 2rem 2rem 2rem;
		}

		.agreement-check {
			max-width: 100%;
		}
	}

	@include _360 {
		&__image {
			width: 87%;
			top: 23rem;
		}
	}



	&__image {
		position: absolute;
		right: 3rem;
		bottom: 0;
	}

	&__title {
		max-width: rem(752px);
		margin-bottom: rem(80px);
	}

	&__container {
		position: relative;
		background-color: #fff;
		padding: rem(58px) rem(48px) rem(45px) rem(48px);
		max-width: rem(912px);
		z-index: 5;

		&::before {
			content: "";
			position: absolute;
			top: 10px;
			right: 10px;
			bottom: 10px;
			left: 10px;
			border: 1px solid #EBC66C;
			z-index: -1;
		}

		.input__row {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin: rem(-20px);
		}

		.input__col {
			width: 50%;
			padding: 20px;

		}
		input {
			width: 100%;
			height: 60px;
			background-color: #F3F3F3;
			padding: 21px 22px 20px 24px;
			color: #1A1C21;
			border: none;
			border-radius: 3px;
		}

		.input_container {
			position: relative;
			max-width: 388px;
			margin-bottom: 20px;

			label.error {
				position: absolute;
				bottom: 0;
				left: 23px;
				color: red;
				font-size: 12px;
			}


			&:last-child {
				margin-bottom: 0;
			}

			&.user-icon {
				&::before {
					content: "\e907";
					font-family: "icomoon";
					position: absolute;
					top: 50%;
					right: 12px;
					font-size: 1.2rem;
					color: #333;
					transform: translateY(-50%);
				}
			}
			&.calendar-icon {
				&::before {
					content: "\e908";
					font-family: "icomoon";
					position: absolute;
					top: 50%;
					right: 12px;
					font-size: 1.2rem;
					color: #333;
					transform: translateY(-50%);
				}
			}


			.plus {
				position: absolute;
				top: 50%;
				right: 12px;
				transform: translateY(-50%);
				width: 26px;
				height: 26px;
				background-color: #fff;
				border-radius: 50%;

				&::before {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 60%;
					height: 1px;
					background-color: #333;
				}

				&::after {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(90deg);
					width: 60%;
					height: 1px;
					background-color: #333;
				}
			}

		}

		.button__wrap {
			margin-top: 20px;

			display: flex;
			align-items: center;


			.btn {
				display: inline-block;
				max-width: rem(388px);
				width: 100%;
				span {
					display: block;
					background-color: #D9A85F;
					color: #4C4330;
					padding: 32px 35px;
				}
			}
		}

		.agreement-check {
			margin-left: rem(40px);
		}
	}
}

.footer_custom {
	background-color: #0F1014;
	padding-top: rem(48px);
	padding-bottom: rem(55px);

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	.footer_col {
		&:nth-child(1) {
			display: flex;align-items: flex-start;
			flex-direction: column;
			max-width: 231px;

			.main-logo {
				flex-direction: column;
				align-items: stretch;
				justify-content: stretch;
				p {
					margin: 0;
					margin-top: rem(20px);
				}
			}

			.footer_copyright {
				margin-top: auto;
				color: #fff;
				font-size: rem(12px);
			}
		}

		&:nth-child(2) {
			max-width: rem(366px);

			.footer_nav {
				display: flex;
				justify-content: space-between;

				&__col {

					&:nth-child(1) {
						ul {
							li {
								margin-bottom: 20px;
								a {
									color: #fff;
								}
								&:last-child {
									margin-bottom: 0;
								}
							}
						}
					}

					&:nth-child(2) {
						ul {
							li {
								margin-bottom: rem(15px);

								a {
									color: #FFF;
								}
								&:last-child {
									margin-bottom: 0;
								}
							}
						}
					}
				}

			}
		}

		&:nth-child(3) {
			max-width: rem(180px);
			.main-location {
				margin-bottom: rem(32px);
				p {
					font-size: 1rem;
					max-width: 100%;
				}
			}

			.main-links {
				flex-direction: column;

				&__icon {
					position: relative;
					margin: 0;
					margin-bottom: 20px;
					&:last-child {
						margin-bottom: 0;
					}

					&::after {
						content: attr(data-text);
						position: absolute;
						top: 50%;
						left: 2.8rem;
						display: block;
						color: #FFF;
						transform: translateY(-50%);
					}
				}
			}
		}

		&:nth-child(4) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			.main-tel {
				margin-bottom: rem(15px);
				a {
					color: #FFF;
				}
			}

			.footer_btn_order_call {
				font-size: rem(14px);
				color: $gold;
				position: relative;
				display: block;
				cursor: pointer;

				&::before {
					content: "";
					position: absolute;
					left: 0;
					bottom: -3px;
					width: 100%;
					height: 2px;
					border-bottom: 1px dashed $gold;
				}

				&:hover {
					&::before {
						content: none;
					}
				}
			}
			.mini-copyright {
				margin-top: auto;
				font-size: rem(12px);
				color: #8E8E90;
			}
		}
	}
}
