@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y7a41v');
  src:  url('fonts/icomoon.eot?y7a41v#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y7a41v') format('truetype'),
    url('fonts/icomoon.woff?y7a41v') format('woff'),
    url('fonts/icomoon.svg?y7a41v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e907";
}
.icon-calendar:before {
  content: "\e908";
}
.icon-mouse:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e905";
}
.icon-right-arrow:before {
  content: "\e903";
}
.icon-left-arrow:before {
  content: "\e904";
}
.icon-fb:before {
  content: "\e900";
}
.icon-inst:before {
  content: "\e901";
}
.icon-triangle:before {
  content: "\e902";
}
