@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-ExtraLight";
  src: url("../fonts/Raleway-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

html {
  line-height: 32px;
}

body {
  font-family: 'Raleway-Regular', sans-serif;
  background-color: #1A1C21;
  min-width: 360px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #FFF;
}

.section {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway-ExtraBold", sans-serif;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  font-family: "Raleway-ExtraLight", sans-serif;
}

h1,
h2 {
  line-height: 1.2;
  font-size: 3.375rem;
}

b,
strong {
  font-weight: bold !important;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #D9A85F;
}

.text-center {
  text-align: center;
}

.main-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.main-logo p {
  margin: 0;
  max-width: 7.5rem;
  margin-left: 1.5rem;
  font-size: 0.875rem;
}

.main-location {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.main-location p {
  margin: 0;
  max-width: 157px;
  font-size: 0.875rem;
}

.main-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.main-links__icon {
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #D6AD58;
  margin-right: 10px;
}

.main-links__icon:last-child {
  margin-right: 0;
}

.main-tel {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.main-tel a {
  font-family: "Raleway-Bold", sans-serif;
}

.main-btn-link {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 40px;
}

.main-btn-link button {
  background-color: #1A1C21;
  min-height: 82px;
  padding: 0 3.3125rem;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.main-btn-link span {
  display: block;
  color: transparent;
  position: relative;
  height: 21px;
  line-height: 21px;
  overflow: hidden;
}

.main-btn-link span::before {
  content: attr(data-text);
  display: block;
  color: #D9A85F;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translateY(0) translateZ(0);
  transform: translateY(0) translateZ(0);
}

.main-btn-link span::after {
  content: attr(data-text);
  display: block;
  color: #D9A85F;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translateY(0) translateZ(0);
  transform: translateY(0) translateZ(0);
}

.main-btn-link span::after {
  top: 100%;
  opacity: 0;
}

.main-btn-link:hover span::before {
  opacity: 0;
}

.main-btn-link:hover span::after {
  opacity: 1;
}

.main-btn-link:hover span::before,
.main-btn-link:hover span::after {
  -webkit-transform: translateY(-100%) translateZ(0);
  transform: translateY(-100%) translateZ(0);
}

.main-nav {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-nav ul li {
  margin-right: 1.5rem;
}

.main-nav ul li:last-child {
  margin-right: 0;
}

.main-nav ul li:hover a {
  text-shadow: 0 0 1px #fff, 0 0 1px #FFF;
}

.custom-dots .slick-dots {
  position: static;
  bottom: auto;
}

.custom-dots .slick-dots li button {
  border: none;
  background: transparent;
  border-radius: 0;
  width: auto;
  height: auto;
  margin: 0;
  font-size: 3.375rem;
  text-indent: 0;
  font-family: "Raleway-Bold", sans-serif;
  color: #fff;
  display: none;
  line-height: 1;
}

.custom-dots .slick-dots li button::before {
  content: "0";
}

.custom-dots .slick-dots li.slick-active button {
  display: block;
}

.custom-dots .slick-dots li:nth-child(n + 10) button::before {
  content: none;
}

.custom-arrows {
  width: 131px;
  height: 131px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.custom-arrows .slick-arrow {
  z-index: 50;
  position: static;
  bottom: auto;
  border-radius: 0;
  background: #F3F3F3;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 4.0625rem;
  height: 4.0625rem;
  font-size: 1.5rem;
}

.custom-arrows .icon-right-arrow {
  background-color: #CBA161;
  color: #fff;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.custom-arrows .icon-left-arrow {
  background-color: #F3F3F3;
  color: #4C4330;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.btn {
  display: inline-block;
  cursor: pointer;
}

.btn span {
  display: block;
  background-color: #D9A85F;
  color: #4C4330;
  padding: 32px 35px;
}

.btn:hover {
  -webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.agreement-check {
  color: #1A1C21;
  max-width: 14.9375rem;
}

.agreement-check .agreement-label a {
  position: relative;
  display: inline-block;
  z-index: 6;
}

.agreement-check .agreement-label a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 100%;
  border-bottom: 1px dashed #1A1C21;
}

.agreement-check .agreement-label a:hover::before {
  content: none;
}

.agreement-check input:checked + .agreement-label .check::before {
  position: absolute;
  top: 6px;
  left: 5px;
  width: 8px;
  height: 8px;
  background-color: #D9A85F;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.agreement-check input + .agreement-label .check::after {
  width: 1.125rem;
  height: 1.125rem;
  background-color: transparent;
  border: 3px solid #D9A85F;
  border-radius: 0;
}

.agreement-check input:hover + .agreement-label .check::after {
  border: 3px solid #D9A85F;
}

.burger-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 250;
  width: 70px;
  height: 70px;
  padding: 0;
  border-radius: 50%;
  border: 0;
  background: #000;
  color: #000;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  outline: 0;
  cursor: pointer;
  display: none;
}

.burger-button::after,
.burger-button::before {
  content: '';
  display: block;
  width: 18px;
  height: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-3px) translateX(-9px);
  -ms-transform: translateY(-3px) translateX(-9px);
  transform: translateY(-3px) translateX(-9px);
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-top: -1px;
}

.burger-button::after {
  -webkit-transform: translateY(3px) translateX(-9px);
  -ms-transform: translateY(3px) translateX(-9px);
  transform: translateY(3px) translateX(-9px);
}

.burger-button.active::before {
  -webkit-transform: translateY(0) translateX(-9px) rotate(45deg);
  -ms-transform: translateY(0) translateX(-9px) rotate(45deg);
  transform: translateY(0) translateX(-9px) rotate(45deg);
}

.burger-button.active::after {
  -webkit-transform: translateY(0) translateX(-9px) rotate(-45deg);
  -ms-transform: translateY(0) translateX(-9px) rotate(-45deg);
  transform: translateY(0) translateX(-9px) rotate(-45deg);
}

.menu__mobile {
  position: fixed;
  top: -100vh;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #1A1C21;
  z-index: 200;
}

.menu__mobile_inner {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.menu__mobile .main-nav {
  margin-top: 5rem;
}

.menu__mobile .main-nav ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.menu__mobile .main-nav ul li {
  margin: 0;
  margin-bottom: 1rem;
}

.menu__mobile .main-nav ul li:last-child {
  margin-bottom: 0;
}

.menu__mobile .main-nav ul li a {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Raleway-Bold", sans-serif;
}

.menu__mobile .main-location {
  margin-bottom: 1rem;
}

.menu__mobile .main-location p {
  font-size: 1.5rem;
  max-width: 100%;
}

.menu__mobile .main-links {
  margin-top: auto;
  margin-bottom: 1rem;
}

.menu__mobile .main-links a {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
}

.menu__mobile .main-tel a {
  font-size: 1.5rem;
}

.show_more {
  position: relative;
  display: inline-block;
  font-size: 0.875rem;
  color: #EBC66C;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.show_more.active .show_text {
  display: none;
}

.show_more.active .close_text {
  display: inline;
}

.show_more .show_text {
  display: inline;
}

.show_more .close_text {
  display: none;
}

.show_more::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  border-bottom: 1px dashed #EBC66C;
}

.show_more:hover::before {
  content: none;
}

main {
  position: relative;
}

.header-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.header-custom.header--fixed {
  position: fixed;
  background-color: #fff;
}

.header-custom.header--fixed .main-logo p {
  color: #333;
  font-size: 0.8125rem;
}

.header-custom.header--fixed .main-logo img {
  width: 35%;
}

.header-custom.header--fixed .main-nav a {
  color: #333;
  font-size: 0.8125rem;
}

.header-custom.header--fixed .main-nav li:hover a {
  text-shadow: 0 0 1px #333, 0 0 1px #333;
}

.header-custom.header--fixed .main-location p {
  color: #333;
  font-size: 0.8125rem;
}

.header-custom.header--fixed .main-tel a {
  color: #333;
  font-size: 0.8125rem;
}

.header-custom.header--fixed::before {
  content: none;
}

.header-custom.header--fixed .main-btn-link button {
  min-height: 55px;
  font-size: 0.8125rem;
}

.header-custom.header--fixed .main-links__icon {
  width: 1.8rem;
  height: 1.8rem;
  font-size: 0.8125rem;
}

.header-custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(transparent));
  background: -o-linear-gradient(#333, transparent);
  background: linear-gradient(#333, transparent);
  z-index: -1;
}

.header-custom .header-container {
  padding-left: 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-custom__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.hero-custom {
  position: relative;
  z-index: 150;
  min-height: 100vh;
  height: 100%;
}

.hero-custom .scroll-icon {
  position: absolute;
  right: 2rem;
  bottom: 30rem;
  z-index: 500;
  width: 33px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 17px;
  border: 1px solid #D9A85F;
}

.hero-custom .scroll-icon .icon-mouse {
  font-size: 1.5rem;
  color: #fff;
}

.hero-custom__info {
  position: absolute;
  left: 0;
  bottom: 13.75rem;
  z-index: 3;
}

.hero-custom__info .hero-text__inner {
  max-width: 38.75rem;
  margin-left: 6.25rem;
  pointer-events: none;
}

.hero-custom__info .hero-text__inner p {
  font-size: 1.25rem;
  max-width: 23.125rem;
}

.hero-custom__info h1 {
  font-size: 3.375rem;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 1.5rem;
}

.hero-custom--close-shows {
  position: absolute;
  left: 50%;
  bottom: 4rem;
  z-index: 150;
  width: 3.5rem;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.4rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  -webkit-transition: color .2s, background-color .2s, -webkit-transform .2s;
  transition: color .2s, background-color .2s, -webkit-transform .2s;
  -o-transition: transform .2s, color .2s, background-color .2s;
  transition: transform .2s, color .2s, background-color .2s;
  transition: transform .2s, color .2s, background-color .2s, -webkit-transform .2s;
  -webkit-transform: translateY(150px);
  -ms-transform: translateY(150px);
  transform: translateY(150px);
  opacity: 0;
}

.hero-custom--close-shows .icon-close {
  -webkit-transition: color .2s, background-color .2s, -webkit-transform .2s;
  transition: color .2s, background-color .2s, -webkit-transform .2s;
  -o-transition: transform .2s, color .2s, background-color .2s;
  transition: transform .2s, color .2s, background-color .2s;
  transition: transform .2s, color .2s, background-color .2s, -webkit-transform .2s;
}

.hero-custom--close-shows:hover .icon-close {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  display: block;
}

.hero-custom .hero__shows--item_info {
  position: absolute;
  bottom: 10rem;
  left: 6rem;
  opacity: 0;
  z-index: 4;
}

.hero-custom .hero__shows--item_info h3 {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 3.375rem;
  margin: 0;
  margin-bottom: 1.5rem;
  max-width: 31rem;
}

.hero-custom .hero__shows--item_info p {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.3;
  max-width: 28.125rem;
}

.hero-custom__shows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-custom__shows::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
  background: -o-linear-gradient(top, transparent, #000);
  background: linear-gradient(-180deg, transparent, #000);
  z-index: 1;
}

.hero-custom__shows.hero__shows[data-showed-item="1"] li:nth-child(2),
.hero-custom__shows.hero__shows[data-showed-item="1"] li:nth-child(3) {
  width: 170px;
}

.hero-custom__shows.hero__shows[data-showed-item="1"] li:nth-child(2) .hero__shows-visible-text,
.hero-custom__shows.hero__shows[data-showed-item="1"] li:nth-child(3) .hero__shows-visible-text {
  opacity: 0;
  visibility: hidden;
}

.hero-custom__shows.hero__shows[data-showed-item="1"] li:nth-child(2) .hero__shows-hidden-text,
.hero-custom__shows.hero__shows[data-showed-item="1"] li:nth-child(3) .hero__shows-hidden-text {
  opacity: 1;
  visibility: visible;
}

.hero-custom__shows.hero__shows[data-showed-item="1"] li:nth-child(2) .hero__shows--item_info,
.hero-custom__shows.hero__shows[data-showed-item="1"] li:nth-child(3) .hero__shows--item_info {
  opacity: 0 !important;
}

.hero-custom__shows.hero__shows[data-showed-item="1"] li[data-id="1"] {
  width: 100%;
  pointer-events: none;
  cursor: default;
}

.hero-custom__shows.hero__shows[data-showed-item="1"] li[data-id="1"]::before {
  background: rgba(26, 28, 33, 0.3);
}

.hero-custom__shows.hero__shows[data-showed-item="2"] li:nth-child(1),
.hero-custom__shows.hero__shows[data-showed-item="2"] li:nth-child(3) {
  width: 170px;
}

.hero-custom__shows.hero__shows[data-showed-item="2"] li:nth-child(1) .hero__shows-visible-text,
.hero-custom__shows.hero__shows[data-showed-item="2"] li:nth-child(3) .hero__shows-visible-text {
  opacity: 0;
  visibility: hidden;
}

.hero-custom__shows.hero__shows[data-showed-item="2"] li:nth-child(1) .hero__shows-hidden-text,
.hero-custom__shows.hero__shows[data-showed-item="2"] li:nth-child(3) .hero__shows-hidden-text {
  opacity: 1;
  visibility: visible;
}

.hero-custom__shows.hero__shows[data-showed-item="2"] li:nth-child(1) .hero__shows--item_info,
.hero-custom__shows.hero__shows[data-showed-item="2"] li:nth-child(3) .hero__shows--item_info {
  opacity: 0 !important;
}

.hero-custom__shows.hero__shows[data-showed-item="2"] li[data-id="2"] {
  width: 100%;
  pointer-events: none;
  cursor: default;
}

.hero-custom__shows.hero__shows[data-showed-item="2"] li[data-id="2"]::before {
  background: rgba(26, 28, 33, 0.3);
}

.hero-custom__shows.hero__shows[data-showed-item="3"] li:nth-child(1),
.hero-custom__shows.hero__shows[data-showed-item="3"] li:nth-child(2) {
  width: 170px;
}

.hero-custom__shows.hero__shows[data-showed-item="3"] li:nth-child(1) .hero__shows-visible-text,
.hero-custom__shows.hero__shows[data-showed-item="3"] li:nth-child(2) .hero__shows-visible-text {
  opacity: 0;
  visibility: hidden;
}

.hero-custom__shows.hero__shows[data-showed-item="3"] li:nth-child(1) .hero__shows-hidden-text,
.hero-custom__shows.hero__shows[data-showed-item="3"] li:nth-child(2) .hero__shows-hidden-text {
  opacity: 1;
  visibility: visible;
}

.hero-custom__shows.hero__shows[data-showed-item="3"] li:nth-child(1) .hero__shows--item_info,
.hero-custom__shows.hero__shows[data-showed-item="3"] li:nth-child(2) .hero__shows--item_info {
  opacity: 0 !important;
}

.hero-custom__shows.hero__shows[data-showed-item="3"] li[data-id="3"] {
  width: 100%;
  pointer-events: none;
  cursor: default;
}

.hero-custom__shows.hero__shows[data-showed-item="3"] li[data-id="3"]::before {
  background: rgba(26, 28, 33, 0.3);
}

.hero-custom__shows.hero__shows li {
  display: block;
  width: 33.3%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  -webkit-transition: width 0.7s cubic-bezier(0.66, 0, 0.33, 1);
  -o-transition: width 0.7s cubic-bezier(0.66, 0, 0.33, 1);
  transition: width 0.7s cubic-bezier(0.66, 0, 0.33, 1);
  overflow: hidden;
  will-change: width;
}

.hero-custom__shows.hero__shows li::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 28, 33, 0.5);
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.hero-custom__shows.hero__shows li:hover::before {
  background: rgba(26, 28, 33, 0.3);
}

.hero-custom__shows.hero__shows li:hover .hero__shows-visible-text {
  -webkit-transform: translateY(-15px) !important;
  -ms-transform: translateY(-15px) !important;
  transform: translateY(-15px) !important;
}

.hero-custom__shows.hero__shows li:hover .hero__shows-hidden-text {
  -webkit-transform: translateY(120px) rotate(-90deg);
  -ms-transform: translateY(120px) rotate(-90deg);
  transform: translateY(120px) rotate(-90deg);
}

.hero-custom__shows.hero__shows li .hero__shows_item_bg {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background-size: cover;
  background-position: top;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.hero-custom__shows.hero__shows li .hero__shows-visible-text {
  display: block;
  font-family: "Raleway-ExtraBold", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  left: 6.25rem;
  bottom: 112px;
  z-index: 2;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.hero-custom__shows.hero__shows li .hero__shows-hidden-text {
  display: block;
  font-family: "Raleway-ExtraBold", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  left: 4rem;
  bottom: 16rem;
  z-index: 2;
  font-style: normal;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  -webkit-transform: translateY(150px) rotate(-90deg);
  -ms-transform: translateY(150px) rotate(-90deg);
  transform: translateY(150px) rotate(-90deg);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  -o-transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
}

.about_us {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 11rem 0 3rem 0;
  overflow: hidden;
  min-height: 100vh;
  z-index: 150;
  width: 100%;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.about_us .container-fluid {
  margin-left: 52px;
}

.about_us__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about_us__col h2 {
  font-size: 3.375rem;
  line-height: 1.3;
  color: #333333;
  margin: 0;
  margin-bottom: 5rem;
}

.about_us__col:nth-child(1) {
  max-width: 33.5rem;
}

.about_us__img {
  position: absolute;
  width: 100%;
  right: -40rem;
  bottom: -9rem;
  z-index: 25;
}

.about_us__img::before {
  content: "";
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  width: 15.75rem;
  height: 97%;
  border: 5px solid #D9A85F;
  z-index: -1;
}

.about_us__text {
  color: #1A1C21;
  position: relative;
}

.about_us-rotate_text {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  max-width: 20.625rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 89px;
  position: absolute;
  left: -8rem;
  bottom: 8rem;
}

.about_us-rotate_text p {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Raleway-ExtraLight", sans-serif;
  line-height: 1.2;
}

.about_us-rotate_text p strong {
  display: block;
  font-family: "Raleway-Bold", sans-serif;
}

.about_us-normal_text {
  padding-left: 7.4375rem;
  max-width: 31.4375rem;
}

.about_us-normal_text p {
  margin: 0;
  line-height: 1.8;
}

.about_us-normal_text p:nth-child(1) {
  margin-bottom: 40px;
}

.about_us-normal_text strong {
  display: block;
}

.history {
  background-color: #F3F3F3;
  padding: 112px 0 164px 0;
  position: relative;
}

.history__title {
  color: #333;
  margin-bottom: 5rem;
}

.history__title h2 {
  max-width: 48.75rem;
  margin: 0;
  margin-bottom: 24px;
}

.history__title p {
  max-width: 504px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 0;
}

.history__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -1rem;
}

.history__col {
  padding: 1rem;
  width: 25%;
}

.history__col:nth-child(2n) .history__item {
  background-color: transparent;
  border: 5px solid #D9A85F;
}

.history__item {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 26px;
  color: #333333;
  min-height: 15.125rem;
}

.history__item h4 {
  font-size: 3rem;
  margin: 0;
}

.history__item-title {
  text-align: center;
}

.history__item-title p {
  text-transform: uppercase;
}

.history__item p {
  text-align: center;
  margin: 0;
  margin-top: auto;
}

.history__item-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.history__img {
  position: absolute;
  bottom: 5.9rem;
  left: 0;
  z-index: 2;
}

.services {
  position: relative;
  z-index: 15;
  padding-top: 7rem;
  overflow: hidden;
}

.services__title {
  max-width: 43.5625rem;
  margin-bottom: 5rem;
}

.services__title h2 {
  margin: 0;
  margin-bottom: 1.5rem;
}

.services__title p {
  margin: 0;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -0.75rem -1rem;
}

.services__col {
  padding: 0.75rem 1rem;
  width: 50%;
}

.services__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  min-height: 28.5rem;
  padding-left: 3rem;
  padding-bottom: 2rem;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.services__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.services__item .icon-wrap {
  z-index: 3;
  width: 80px;
  height: 12px;
  position: absolute;
  right: 4.5625rem;
  bottom: 2.875rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
}

.services__item .icon-wrap::before {
  content: "";
  width: 0;
  height: 0;
  background-color: #D9A85F;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -1.1rem;
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: width 0.3s, height 0.3s;
  -o-transition: width 0.3s, height 0.3s;
  transition: width 0.3s, height 0.3s;
}

.services__item h3 {
  font-family: "Raleway-Bold", sans-serif;
  margin: 0;
  margin-bottom: 1.5rem;
  position: relative;
  z-index: 25;
  -webkit-transform: translateY(294%);
  -ms-transform: translateY(294%);
  transform: translateY(294%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.services__item p {
  font-size: 1.125rem;
  max-width: 27rem;
  position: relative;
  z-index: 25;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
}

.services__item:hover p {
  visibility: visible;
  opacity: 1;
}

.services__item:hover h3 {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.services__item:hover .icon-wrap {
  opacity: 1;
  visibility: visible;
}

.services__item:hover .icon-wrap::before {
  width: 42px;
  height: 42px;
}

.services__item:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background: -o-linear-gradient(transparent, black);
  background: linear-gradient(transparent, black);
}

.awards {
  position: relative;
  padding: 8.3125rem 0 6.6875rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -4.25rem;
}

.awards__container {
  position: relative;
  z-index: 2;
  display: block;
  margin: 0 auto;
  padding-top: 2.9375rem;
  padding-bottom: 2.5625rem;
  max-width: 56.25rem;
  text-align: center;
}

.awards__container h2 {
  max-width: 49.375rem;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.awards__container p {
  max-width: 23.625rem;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.awards__container-border {
  position: absolute;
  z-index: 4;
}

.awards__container-border.top {
  top: 0;
  left: 0;
}

.awards__container-border.bottom {
  right: 0;
  bottom: 0;
}

.awards__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 24.25rem;
  margin: 0 auto;
}

.awards::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.our-cases {
  padding: 7rem 0 7rem 0;
  overflow: hidden;
}

.our-cases__container {
  position: relative;
  margin-bottom: 6.875rem;
  margin-left: 6.25rem;
  background-image: url(../images/kushavel__bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.our-cases__dots {
  position: absolute;
  left: 41%;
  bottom: 3rem;
  z-index: 50;
}

.our-cases__arrows {
  position: absolute;
  z-index: 50;
  left: 58%;
  bottom: 3rem;
}

.our-cases__slider .slick-list {
  padding-right: 4%;
}

.our-cases__slider .slick-slide:not(.slick-current.slick-active) .cases_item__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.our-cases .cases_item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-cases .cases_item__img {
  position: relative;
  margin-right: 1.9375rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 41%;
}

.our-cases .cases_item__info {
  width: 38%;
}

.our-cases .cases_item__info h2 {
  max-width: 45.25rem;
  margin-bottom: 3rem;
}

.our-cases .cases_item__info.active .cases_item__info_text p {
  display: block;
}

.our-cases .cases_item__info_text {
  position: relative;
  margin-top: 1rem;
}

.our-cases .cases_item__info_location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-cases .cases_item__info_location p {
  color: #A3A4A6;
  margin: 0;
  margin-right: 2rem;
}

.our-cases .cases_item__info_location p:last-child {
  margin-right: 0;
}

.our-cases .cases_item p {
  max-width: 29.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.our-cases__gallery .slick-list {
  margin: -5rem 0;
  padding: 5rem 0;
}

.our-cases__gallery .slick-slide {
  margin: 0 2rem;
}

.our-cases__gallery .slick-slide:nth-child(2n) {
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
}

.our_team {
  padding-top: 7rem;
  padding-bottom: 11.6875rem;
}

.our_team__title {
  margin: 0 auto;
  margin-bottom: 5rem;
  max-width: 35.75rem;
}

.our_team__title h2 {
  margin: 0;
  margin-bottom: 1.5rem;
  text-align: center;
}

.our_team__title p {
  margin: 0;
  text-align: center;
  max-width: 33.125rem;
  font-size: 1.5rem;
  font-family: "Raleway-ExtraLight", sans-serif;
  line-height: 1.3;
}

.our_team__arrows {
  position: absolute;
  right: 3.8rem;
  top: 0;
}

.our_team__container .slick-slide {
  margin: 0 0.9375rem;
}

.our_team__container .slick-active.last {
  -webkit-transform: translateY(57.2%);
  -ms-transform: translateY(57.2%);
  transform: translateY(57.2%);
  height: 298px;
  overflow: hidden;
  -webkit-transition: height .3s, -webkit-transform .3s;
  transition: height .3s, -webkit-transform .3s;
  -o-transition: transform .3s, height .3s;
  transition: transform .3s, height .3s;
  transition: transform .3s, height .3s, -webkit-transform .3s;
}

.our_team__item-name {
  margin-top: 2rem;
}

.our_team__item-name p {
  margin: 0;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 0.875rem;
}

.our_team__item-name p:nth-child(1) {
  font-family: "Raleway-ExtraLight", sans-serif;
  font-size: 1.375rem;
  margin-bottom: 0.625rem;
}

.footer_form {
  position: relative;
  padding-bottom: 10.5rem;
  overflow: hidden;
  margin-top: -13rem;
  padding-top: 13rem;
}

.footer_form__image {
  position: absolute;
  right: 3rem;
  bottom: 0;
}

.footer_form__title {
  max-width: 47rem;
  margin-bottom: 5rem;
}

.footer_form__container {
  position: relative;
  background-color: #fff;
  padding: 3.625rem 3rem 2.8125rem 3rem;
  max-width: 57rem;
  z-index: 5;
}

.footer_form__container::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  border: 1px solid #EBC66C;
  z-index: -1;
}

.footer_form__container .input__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -1.25rem;
}

.footer_form__container .input__col {
  width: 50%;
  padding: 20px;
}

.footer_form__container input {
  width: 100%;
  height: 60px;
  background-color: #F3F3F3;
  padding: 21px 22px 20px 24px;
  color: #1A1C21;
  border: none;
  border-radius: 3px;
}

.footer_form__container .input_container {
  position: relative;
  max-width: 388px;
  margin-bottom: 20px;
}

.footer_form__container .input_container label.error {
  position: absolute;
  bottom: 0;
  left: 23px;
  color: red;
  font-size: 12px;
}

.footer_form__container .input_container:last-child {
  margin-bottom: 0;
}

.footer_form__container .input_container.user-icon::before {
  content: "\e907";
  font-family: "icomoon";
  position: absolute;
  top: 50%;
  right: 12px;
  font-size: 1.2rem;
  color: #333;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer_form__container .input_container.calendar-icon::before {
  content: "\e908";
  font-family: "icomoon";
  position: absolute;
  top: 50%;
  right: 12px;
  font-size: 1.2rem;
  color: #333;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer_form__container .input_container .plus {
  position: absolute;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
}

.footer_form__container .input_container .plus::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 60%;
  height: 1px;
  background-color: #333;
}

.footer_form__container .input_container .plus::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
  width: 60%;
  height: 1px;
  background-color: #333;
}

.footer_form__container .button__wrap {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer_form__container .button__wrap .btn {
  display: inline-block;
  max-width: 24.25rem;
  width: 100%;
}

.footer_form__container .button__wrap .btn span {
  display: block;
  background-color: #D9A85F;
  color: #4C4330;
  padding: 32px 35px;
}

.footer_form__container .agreement-check {
  margin-left: 2.5rem;
}

.footer_custom {
  background-color: #0F1014;
  padding-top: 3rem;
  padding-bottom: 3.4375rem;
}

.footer_custom__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer_custom .footer_col:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 231px;
}

.footer_custom .footer_col:nth-child(1) .main-logo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
}

.footer_custom .footer_col:nth-child(1) .main-logo p {
  margin: 0;
  margin-top: 1.25rem;
}

.footer_custom .footer_col:nth-child(1) .footer_copyright {
  margin-top: auto;
  color: #fff;
  font-size: 0.75rem;
}

.footer_custom .footer_col:nth-child(2) {
  max-width: 22.875rem;
}

.footer_custom .footer_col:nth-child(2) .footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer_custom .footer_col:nth-child(2) .footer_nav__col:nth-child(1) ul li {
  margin-bottom: 20px;
}

.footer_custom .footer_col:nth-child(2) .footer_nav__col:nth-child(1) ul li a {
  color: #fff;
}

.footer_custom .footer_col:nth-child(2) .footer_nav__col:nth-child(1) ul li:last-child {
  margin-bottom: 0;
}

.footer_custom .footer_col:nth-child(2) .footer_nav__col:nth-child(2) ul li {
  margin-bottom: 0.9375rem;
}

.footer_custom .footer_col:nth-child(2) .footer_nav__col:nth-child(2) ul li a {
  color: #FFF;
}

.footer_custom .footer_col:nth-child(2) .footer_nav__col:nth-child(2) ul li:last-child {
  margin-bottom: 0;
}

.footer_custom .footer_col:nth-child(3) {
  max-width: 11.25rem;
}

.footer_custom .footer_col:nth-child(3) .main-location {
  margin-bottom: 2rem;
}

.footer_custom .footer_col:nth-child(3) .main-location p {
  font-size: 1rem;
  max-width: 100%;
}

.footer_custom .footer_col:nth-child(3) .main-links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer_custom .footer_col:nth-child(3) .main-links__icon {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
}

.footer_custom .footer_col:nth-child(3) .main-links__icon:last-child {
  margin-bottom: 0;
}

.footer_custom .footer_col:nth-child(3) .main-links__icon::after {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 2.8rem;
  display: block;
  color: #FFF;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer_custom .footer_col:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer_custom .footer_col:nth-child(4) .main-tel {
  margin-bottom: 0.9375rem;
}

.footer_custom .footer_col:nth-child(4) .main-tel a {
  color: #FFF;
}

.footer_custom .footer_col:nth-child(4) .footer_btn_order_call {
  font-size: 0.875rem;
  color: #D9A85F;
  position: relative;
  display: block;
  cursor: pointer;
}

.footer_custom .footer_col:nth-child(4) .footer_btn_order_call::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  border-bottom: 1px dashed #D9A85F;
}

.footer_custom .footer_col:nth-child(4) .footer_btn_order_call:hover::before {
  content: none;
}

.footer_custom .footer_col:nth-child(4) .mini-copyright {
  margin-top: auto;
  font-size: 0.75rem;
  color: #8E8E90;
}

@media (min-width: 2100px) {
  body {
    zoom: 1.2;
  }

  .hero-custom {
    min-height: 84vh;
  }

  .about_us {
    min-height: 84vh;
  }
}

@media (max-width: 1536px) {
  .about_us {
    padding: 6rem 0 3rem 0;
  }

  .about_us__img {
    right: 0;
    bottom: -5rem;
    z-index: 25;
    width: 56%;
  }

  .about_us__img::before {
    width: 13.75rem;
    height: 93%;
  }

  .history__img {
    left: -1.3rem;
  }

  .awards {
    margin-top: -3rem;
  }

  .our-cases__arrows {
    left: auto;
    right: 10%;
  }

  .our-cases__dots {
    bottom: 0.2rem;
  }

  .footer_form__image {
    right: -10rem;
  }
}

@media (max-width: 1440px) {
  .header-custom .header-container {
    padding-left: 3.125rem;
  }

  .hero-custom__info h1 {
    font-size: 3rem;
  }

  .hero-custom__info .hero-text__inner {
    max-width: 35rem;
  }

  .hero-custom .hero__shows--item_info h3 {
    font-size: 3rem;
  }

  .about_us {
    padding: 8rem 0 3rem 0;
  }

  .about_us .container-fluid {
    margin-left: 0;
  }

  .about_us h2 {
    margin-bottom: 3.5rem;
  }

  .history__img {
    left: -3.3rem;
  }

  .our-cases__container {
    margin-left: 3rem;
  }

  .our-cases__arrows {
    right: 11%;
  }

  .our-cases .cases_item__info h2 {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1366px) {
  .header-custom__location {
    display: none;
  }

  .hero-custom__shows.hero__shows li .hero__shows-visible-text {
    font-size: 1rem;
    bottom: 68px;
    left: 3.125rem;
  }

  .hero-custom__info {
    bottom: 8rem;
  }

  .hero-custom__info h1 {
    font-size: 2.5rem;
  }

  .hero-custom__info .hero-text__inner {
    margin-left: 3.125rem;
  }

  .hero-custom .hero__shows--item_info {
    bottom: 8rem;
  }

  .about_us {
    padding: 6rem 0 5rem 0;
  }

  .about_us h2 {
    font-size: 2.5rem;
  }

  .about_us-normal_text {
    padding-left: 7rem;
  }

  .about_us__img::before {
    top: 1rem;
  }

  .history {
    padding-bottom: 7rem;
  }

  .history__img {
    left: -3.4rem;
    bottom: 2.7rem;
  }

  .history__title {
    margin-bottom: 4rem;
  }

  .history__title h2 {
    font-size: 2.5rem;
    max-width: 36.1rem;
  }

  .history__title p {
    font-size: 1.2rem;
  }

  .history__item h4 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .services {
    padding-top: 5rem;
  }

  .services__title {
    max-width: 34rem;
    margin-bottom: 4rem;
  }

  .services__title h2 {
    font-size: 2.5rem;
  }

  .services__item {
    min-height: 21rem;
  }

  .services__item:hover::after {
    height: 87%;
  }

  .awards__container {
    max-width: 50rem;
  }

  .awards__container h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .our-cases__container {
    margin-bottom: 5rem;
  }

  .our-cases .cases_item__info h2 {
    font-size: 2.5rem;
  }

  .our-cases__arrows {
    bottom: 0.6rem;
    right: 10%;
  }

  .our_team {
    padding-top: 4rem;
  }

  .our_team__container .slick-active.last {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    height: auto;
  }

  .our_team__arrows {
    top: -131px;
  }

  .our_team__title h2 {
    font-size: 2.5rem;
  }

  .our_team__title p {
    margin: 0 auto;
    font-size: 1.125rem;
    max-width: 25rem;
  }

  .footer_form {
    padding-bottom: 9rem;
  }

  .footer_form__image {
    width: 60%;
  }

  .footer_form__title h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1280px) {
  .hero-custom__info h1 {
    font-size: 2.5rem;
  }

  .hero-custom__info .hero-text__inner {
    margin-left: 3.125rem;
    max-width: 29rem;
  }

  .hero-custom__info .hero-text__inner p {
    font-size: 1.1rem;
  }

  .hero-custom .hero__shows--item_info {
    left: 3rem;
  }

  .hero-custom .hero__shows--item_info h3 {
    font-size: 2.5rem;
  }

  .hero-custom .hero__shows--item_info p {
    font-size: 1.1rem;
  }

  .about_us__img {
    width: 50%;
    bottom: -1rem;
  }

  .history {
    padding-top: 11rem;
  }

  .history__item h4 {
    margin-bottom: 0.5rem;
  }

  .history__img {
    left: -1.4rem;
    bottom: 3.5rem;
    width: 27%;
  }

  .history__title {
    margin-bottom: 3rem;
  }

  .services {
    padding-top: 4rem;
  }

  .awards__container {
    max-width: 47rem;
  }

  .awards__container h2 {
    margin-bottom: 2rem;
  }

  .awards__container p {
    margin-bottom: 1.5rem;
  }

  .awards__container-border {
    width: 15%;
  }

  .our-cases {
    padding-top: 5rem;
  }

  .our_team {
    padding-bottom: 9rem;
  }
}

@media (max-width: 1200px) {
  .burger-button {
    display: block;
  }

  .header-custom__nav {
    display: none;
  }

  .header-custom__links {
    display: none;
  }

  .hero-custom--close-shows {
    bottom: 2rem;
  }

  .hero-custom .hero__shows--item_info {
    left: 3rem;
  }

  .about_us {
    padding: 6rem 0 3rem 0;
  }

  .about_us__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about_us__col {
    width: 100%;
  }

  .about_us__col:nth-child(1) {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.5rem;
  }

  .about_us-normal_text {
    max-width: 100%;
  }

  .about_us-normal_text p br {
    display: none;
  }

  .about_us__img {
    position: relative;
    right: auto;
    bottom: auto;
    width: 100%;
  }

  .about_us-rotate_text {
    left: -5rem;
    bottom: 5.7rem;
    max-width: 16rem;
  }

  .about_us-rotate_text p {
    font-size: 1.2rem;
  }

  .history {
    padding-top: 30rem;
    padding-bottom: 5rem;
  }

  .history__col {
    width: 50%;
  }

  .history__item {
    min-height: 12rem;
    padding: 26px 26px;
  }

  .history__img {
    left: -7.6rem;
    bottom: 2.2rem;
  }

  .services {
    padding-top: 3.7rem;
  }

  .services__title {
    margin-bottom: 3rem;
  }

  .services__item {
    padding-left: 1rem;
  }

  .services__item h3 {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .services__item p {
    visibility: visible;
    opacity: 1;
    margin-bottom: 0.9rem;
  }

  .services__item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
    background: -o-linear-gradient(transparent, black);
    background: linear-gradient(transparent, black);
  }

  .services__item .icon-wrap {
    opacity: 1;
    visibility: visible;
    right: 3rem;
    bottom: 2rem;
  }

  .services__item .icon-wrap::before {
    width: 42px;
    height: 42px;
  }

  .our-cases {
    padding: 3rem 0 7rem 0;
  }

  .our-cases__arrows {
    position: static;
    right: auto;
    bottom: auto;
    margin-left: auto;
    margin-right: 2rem;
    margin-bottom: 3rem;
  }

  .our-cases__dots {
    left: auto;
    bottom: auto;
    top: 4.2rem;
    right: 12.3rem;
  }

  .our_team {
    padding-top: 2rem;
    padding-bottom: 6rem;
  }

  .footer_form__container {
    padding: 3rem 3rem 2rem 3rem;
    max-width: 39rem;
  }

  .footer_form__container .button__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .footer_form__container .button__wrap .btn {
    max-width: 100%;
    margin-bottom: 1.5rem;
  }

  .footer_form__container .button__wrap .btn span {
    width: 100%;
  }

  .footer_form__container .agreement-check {
    margin-left: 0;
  }

  .footer_form__container .input__row {
    margin: -15px;
  }

  .footer_form__container .input__col {
    padding: 15px;
  }
}

@media (max-width: 992px) {
  .menu__mobile .main-nav {
    margin-top: 3rem;
  }

  .hero-custom {
    height: 600px;
  }

  .hero-custom__shows.hero__shows[data-showed-item="1"] li:nth-child(2),
  .hero-custom__shows.hero__shows[data-showed-item="1"] li:nth-child(3) {
    width: 100px;
  }

  .hero-custom__shows.hero__shows[data-showed-item="2"] li:nth-child(1),
  .hero-custom__shows.hero__shows[data-showed-item="2"] li:nth-child(3) {
    width: 100px;
  }

  .hero-custom__shows.hero__shows[data-showed-item="3"] li:nth-child(1),
  .hero-custom__shows.hero__shows[data-showed-item="3"] li:nth-child(2) {
    width: 100px;
  }

  .hero-custom__shows.hero__shows li .hero__shows-hidden-text {
    left: 3rem;
    bottom: 12rem;
  }

  .hero-custom .scroll-icon {
    display: none;
  }

  .about_us-rotate_text {
    left: -4.9rem;
    bottom: 5.3rem;
    max-width: 15rem;
  }

  .about_us h2 {
    margin-bottom: 2rem;
  }

  .history {
    padding-top: 37rem;
  }

  .history__title h2 {
    font-size: 2rem;
    max-width: 29.1rem;
  }

  .history__title p {
    font-size: 1rem;
  }

  .history__img {
    left: -7.4rem;
    bottom: 2.4rem;
  }

  .services__item {
    padding-left: 2rem;
    min-height: 20rem;
  }

  .services__item .icon-wrap {
    right: 2.2rem;
    bottom: 1.9rem;
  }

  .services__title h2 {
    font-size: 2rem;
  }

  .awards {
    margin-top: -2rem;
    padding-top: 6rem;
    padding-bottom: 5rem;
  }

  .awards__container h2 {
    font-size: 2rem;
  }

  .our-cases__container {
    margin-left: 2.5rem;
  }

  .our-cases .cases_item__img {
    width: 50%;
  }

  .our-cases .cases_item__info h2 {
    font-size: 2rem;
  }

  .our_team__arrows {
    right: 3.3rem;
  }

  .footer_form__title {
    margin-bottom: 3rem;
  }

  .footer_form__title h2 {
    font-size: 2rem;
  }

  .footer_form__image {
    right: -7rem;
  }

  .footer_form__container {
    max-width: 31rem;
  }

  .footer_form__container .input__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer_form__container .input__col {
    width: 100%;
  }

  .footer_form__container .input_container {
    max-width: 100%;
  }

  .footer_form__container .button__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .footer_form__container .button__wrap .btn {
    margin-bottom: 1.5rem;
  }

  .footer_form__container .agreement-check {
    margin-left: 0;
  }
}

@media (max-width: 769px) {
  .header-custom .header-container {
    padding-left: 2rem;
  }

  .hero-custom__info {
    bottom: 12rem;
  }

  .hero-custom__shows.hero__shows li:nth-child(2) .hero__shows-visible-text {
    left: 2rem;
  }

  .hero-custom__shows.hero__shows li .hero__shows-visible-text {
    bottom: 93px;
  }

  .hero-custom__shows.hero__shows li:hover .hero__shows-visible-text {
    -webkit-transform: translateY(0) !important;
    -ms-transform: translateY(0) !important;
    transform: translateY(0) !important;
  }

  .history {
    padding-top: 5rem;
  }

  .history__img {
    left: -5.8rem;
    bottom: 2.9rem;
  }

  .history__item h4 {
    font-size: 1.7rem;
  }

  .history__title {
    margin-bottom: 3rem;
  }

  .awards {
    padding: 7rem 0 6rem;
  }

  .awards__container {
    max-width: 33rem;
  }

  .our-cases .cases_item__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .our-cases .cases_item__img {
    width: 100%;
    margin-right: 0;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .our-cases .cases_item__info {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 1.5rem;
  }

  .our-cases .cases_item p {
    max-width: 100%;
  }

  .our-cases__container {
    margin-left: 0;
    padding: 0 2.5rem;
  }

  .our-cases__slider .slick-list {
    padding-right: 0;
  }

  .our-cases__slider .slick-slide:not(.slick-current.slick-active) .cases_item__img::before {
    content: none;
  }

  .our-cases__dots {
    right: 14.3rem;
  }

  .our-cases__arrows {
    margin-right: 0;
  }

  .our_team__item-name p:nth-child(1) {
    font-size: 1.125rem;
  }

  .footer_form__title {
    max-width: 28rem;
    margin-bottom: 12rem;
  }

  .footer_form__container {
    max-width: 100%;
  }

  .footer_form__image {
    right: 1rem;
    bottom: auto;
    top: 14rem;
    width: 49%;
  }
}

@media (max-width: 740px) {
  .menu__mobile_inner {
    padding-bottom: 4rem;
  }

  .header-custom__tel {
    display: none;
  }

  .hero-custom__shows.hero__shows[data-showed-item="1"] li:nth-child(2),
  .hero-custom__shows.hero__shows[data-showed-item="1"] li:nth-child(3) {
    width: 0;
  }

  .hero-custom__shows.hero__shows[data-showed-item="1"] li:nth-child(1) .hero__shows-hidden-text {
    opacity: 0;
    visibility: hidden;
  }

  .hero-custom__shows.hero__shows[data-showed-item="2"] li:nth-child(1),
  .hero-custom__shows.hero__shows[data-showed-item="2"] li:nth-child(3) {
    width: 0;
  }

  .hero-custom__shows.hero__shows[data-showed-item="2"] li:nth-child(2) .hero__shows-hidden-text {
    opacity: 0;
    visibility: hidden;
  }

  .hero-custom__shows.hero__shows[data-showed-item="3"] li:nth-child(1),
  .hero-custom__shows.hero__shows[data-showed-item="3"] li:nth-child(2) {
    width: 0;
  }

  .hero-custom__shows.hero__shows[data-showed-item="3"] li:nth-child(3) .hero__shows-hidden-text {
    opacity: 0;
    visibility: hidden;
  }

  .hero-custom__shows.hero__shows li .hero__shows-visible-text {
    left: 2rem;
  }

  .hero-custom__shows.hero__shows li .hero__shows-visible-text {
    display: none;
  }

  .hero-custom__shows.hero__shows li .hero__shows-hidden-text {
    left: 50% !important;
    bottom: 14rem;
    opacity: 1;
    visibility: visible;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: translateY(150px) rotate(-90deg);
    -ms-transform: translateY(150px) rotate(-90deg);
    transform: translateY(150px) rotate(-90deg);
    font-size: 1.125rem;
  }

  .hero-custom__info {
    top: 8rem;
    bottom: auto;
  }

  .hero-custom__info .hero-text__inner {
    margin-left: 2rem;
  }

  .about_us__img {
    width: 86%;
    margin: 0 auto;
  }

  .history {
    padding-top: 4rem;
  }

  .history__item {
    padding: 26px 16px;
  }

  .history__item p {
    font-size: 0.9rem;
  }

  .history__img {
    left: -3.8rem;
    bottom: 3rem;
    width: 32%;
  }

  .services__col {
    width: 100%;
  }

  .our-cases__container {
    padding: 0 2rem;
  }

  .our-cases__dots {
    right: 12.3rem;
  }

  .our-cases .cases_item__info h2 {
    max-width: 25rem;
  }

  .our_team__arrows {
    height: auto;
    right: 2.9rem;
    top: -84px;
  }

  .our_team__title {
    margin-bottom: 7rem;
  }

  .footer_form__title {
    margin-bottom: 9rem;
  }

  .footer_form__image {
    top: 17rem;
  }
}

@media (max-width: 500px) {
  .main-logo {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .main-logo img {
    width: 41%;
  }

  .main-logo p {
    font-size: 0.75rem;
    margin-left: 0.75rem;
  }

  .main-btn-link button {
    padding: 0 1.5rem;
    min-height: 71px;
  }

  .menu__mobile .main-location p {
    font-size: 1.2rem;
  }

  .hero-custom__info h1 {
    font-size: 2rem;
  }

  .hero-custom__info .hero-text__inner {
    max-width: 20rem;
  }

  .hero-custom__info .hero-text__inner p {
    font-size: 1rem;
  }

  .hero-custom .hero__shows--item_info {
    left: 2rem;
  }

  .hero-custom .hero__shows--item_info h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    max-width: 15rem;
  }

  .hero-custom .hero__shows--item_info p {
    font-size: 1rem;
    max-width: 13rem;
  }

  .hero-custom__shows.hero__shows li .hero__shows-hidden-text {
    bottom: 16rem;
  }

  .about_us {
    height: auto;
  }

  .about_us h2 {
    font-size: 2rem;
  }

  .about_us-rotate_text {
    position: static;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    left: auto;
    bottom: auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .about_us-normal_text {
    padding-left: 0;
  }

  .about_us-normal_text p:nth-child(1) {
    margin-bottom: 1.25rem;
  }

  .history {
    padding-top: 7rem;
  }

  .history__title {
    max-width: 26.1rem;
  }

  .history__img {
    bottom: 3.4rem;
  }

  .awards {
    padding: 5rem 0 4rem;
  }

  .awards__container {
    max-width: 100%;
    padding: 2rem 1rem;
  }

  .awards__container-border {
    display: none;
  }

  .awards__icons {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .awards__icons img {
    padding: 0.5rem;
  }

  .our-cases__container {
    padding: 0 1rem;
  }

  .our-cases__gallery .slick-slide {
    margin: 0 0.5rem;
  }
}

@media (max-width: 480px) {
  .custom-arrows {
    height: auto;
  }

  .custom-arrows .icon-right-arrow {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .custom-arrows .icon-left-arrow {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .burger-button {
    bottom: 10px;
    right: 10px;
  }

  .menu__mobile .main-location p {
    font-size: 1rem;
  }

  .header-custom {
    padding: 0.875rem 0;
  }

  .header-custom .main-btn-link {
    display: none;
  }

  .history {
    padding-top: 13rem;
  }

  .history__col {
    width: 100%;
  }

  .history__title h2 {
    font-size: 1.9rem;
  }

  .history__img {
    display: none;
  }

  .our-cases__dots {
    top: 0.2rem;
  }

  .our_team {
    padding-top: 1rem;
    padding-bottom: 5rem;
  }

  .our_team__title {
    padding: 0 1rem;
  }

  .our_team__title h2 {
    font-size: 2rem;
  }

  .our_team__title p {
    font-size: 1rem;
  }

  .our_team__arrows {
    right: 1.4rem;
  }

  .footer_form__image {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 21rem;
    width: 82%;
  }

  .footer_form__title {
    margin-bottom: 20rem;
  }
}

@media (max-width: 375px) {
  .history {
    padding-top: 18rem;
  }

  .services__item {
    padding-left: 1rem;
  }

  .footer_form__image {
    width: 85%;
  }

  .footer_form__container {
    padding: 3rem 2rem 2rem 2rem;
  }

  .footer_form .agreement-check {
    max-width: 100%;
  }
}

@media (max-width: 360px) {
  .menu__mobile_inner {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .history {
    padding-top: 22rem;
  }

  .footer_form__image {
    width: 87%;
    top: 23rem;
  }
}